*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-overflow: clip;
}

:root {
    --first: rgb(18,40,61);
    --second: rgb(239,240,244);
    --third: rgb(13,126,132);
    --fourth: rgb(255,174,134);
}

body {
  background-image: url('images/header_background.png');
  background-position: static;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.top-bar{
    width: 80%;
    height: 55px;
    position: fixed;
    top: 0px;
    background-color: rgb(18,40,61, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 8px 0.1px #3D3D3D;
    transition: top 0.2s;
}

.top-bar-right{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

.top-bar-logos-container{
    width: 165px;
    height: 100%;
    margin: 0 auto;
}

.top-bar-right a{
    color: var(--second);
    line-height: 55px;
    font-size: 20px;
}

.top-bar-right p{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 15px;
    font-weight: 400;
    color: inherit;
    float: right;
}

.top-bar-right a:hover{
    color: rgb(239,240,244, 0.8)
}

.top-bar-left{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
}

.top-bar-left-text-container{
    width: 155px;
    height: 100%;
    margin: 0 auto;
}

.top-bar-left-text-container p{
    color: var(--second);
    line-height: 55px;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}

.footer-container{
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    float: left;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: var(--first);
    position: absolute;
    float: left;
    margin-bottom: 0px;
}

.open{
    bottom:0px;
}

#borderLeft {
    border-left: 1px solid var(--second);
    position: absolute;
    top: 20%;
    bottom: 20%;
    opacity: 50%;
}

.footer-left{
    width: calc(100% / 3);
    float: left;
    height: 100%;
    text-align: center;
}

.credits-1{
    font-size: 25px;
    font-weight: 200;
    line-height: 200px;
    color: var(--third);
}

.credits-2{
    font-size: 25px;
    font-weight: 500;
    line-height: 200px;
    color: var(--second);
}

.footer-center{
    width: calc(100% / 3);
    float: left;
    height: 80%;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    color: var(--third);
    line-height: 200px;
}

.footer-right{
    width: calc(100% / 3);
    float: left;
    height: 100%;
}

.footer-right p{
    font-size: 30px;
    font-weight: 200;
    color: var(--third);
    margin-top: 12%;
    padding-left: 7px;
    line-height: 10px;
    text-align: center;
}

.footer-right-logos-wrapper{
    width: 140px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.footer-right a{
    color: var(--second);
    font-size: 45px;
    padding: 0px 7px;
}

a:link{
    text-decoration: none;
}

.header-wrapper{
    width: 630px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 300px;
    z-index: -1;
    color: var(--second);

    background: linear-gradient(350deg, #F6E5FF, var(--second) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content-left{
    float: left;
    padding-left: 0%;
    font-size: 98px;
    font-weight:900;
}

.vertical-line{
    width: 2px;
    background-color: var(--second);
    float: right;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

.header-content-center{
    float: left;
    margin-top: 24px;
    padding-left: 20px;
    font-size: 35px;
    font-weight:700;
}

.header-content-center-secondtext{
    font-size: 25px;
    font-weight:200;
}

.header-content-right{
    float: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight:200;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 45px;
    transition: background-color .2s;
}

.header-content-right:hover{
    background-color: var(--second);
}

.header-content-right a{
    color: inherit;
}

.menu{
    width: 100%;
    background-color: var(--fourth);
    height: 65px;
    margin-top: 700px;
}

.menu a{
    float: left;
    font-size: 27px;
    font-weight:200;
    color: var(--second);
    text-align: center;
    width: calc(100% / 6);
    height: 100%;
    line-height: 65px;
    transition: background-color .2s;
}

.menu a:hover{
    color: var(--first);
    background-color:  var(--second);
}

.content-box1{
    width: 100%;
    background-color: var(--second);
    height: 800px;
    position: static;
    z-index: 1;
}

.menu2{
    width: 70%;
    background-color: var(--fourth);
    background-color: #FF9260;
    background-color: #212529;
    background-color: rgb(255, 126, 66);
    border-radius: 10px;
    height: 84px;
    margin-top: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
    /*box-shadow: 0px 0px 8px 0.5px #3D3D3D;*/
    box-shadow: 0px 0px 20px 0.1px #3D3D3D;
}

.menu2-items-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu2-items-container a{
    float: left;
    font-size: 20px;
    font-size: calc(0.65rem + 0.5vw);
    font-weight:400;
    color: var(--second);
    text-align: center;
    width: calc(100% / 7);
    height: 100%;
    line-height: 84px;
}

.menu2-items-container a:hover{
    backdrop-filter: brightness(95%);
}

.menu2-play{
    background-color: #5CDB94;
    cursor: pointer;
    transition: background-color 0.2s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu2-play:hover{
    background-color: #4DF998;
}

#border-left-menu {
    border-left: 0px solid var(--second);
    position: absolute;
    top: 20%;
    bottom: 20%;
    opacity: 50%;
}

/*MENU DROPDOWN*/
.menu2-dropdown{
    width: 70%;
    background-color: var(--fourth);
    background-color: #FF9260;
    background-color: #212529;
    background-color: rgb(255, 126, 66, 0.9);
    border-radius: 10px;
    height: 74px;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: -78px;
    box-shadow: 0px 0px 20px 0.1px #3D3D3D;
    transition: all 0.3s ease-out;
}


/* Play button modal*/
.play-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background: rgb(0,0,0, 0.7);
    top: 0;
    left: 0;
}

.play-modal-container{
    background: rgb(239,240,244);
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    left:50%; 
    top:50%; 
    transform: translate(-50%, -50%);

    animation-name: playModal;
    animation-duration: 0.3s;
    border-radius: 10px;
}

.play-modal-text-container{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    left:50%; 
    top:50%; 
    transform: translate(-50%, -50%);
}

.play-modal ul {
    list-style-type: none;
}

.play-modal ul li {
    position: relative;
    width: 100%;
    font-size: 25px;
    border-bottom: 1px solid darkgray;
    color: var(--first);
    padding-bottom: 4%;
    padding-top: 4%;
    font-weight: 800;
}

.play-modal ul li a{
    color: var(--third);
    text-decoration: underline;
}

.play-modal ul li a:hover{
    color: var(--first);
}

.content-box1-child{
    float: left;
    width: 50%;
    padding-top: 100px;
}

.content-box1-title{
    font-size: 50px;
    font-weight:700;
    color: var(--first);
    text-align: center;
}

.content-box1-text{
    font-size: 25px;
    font-weight:300;
    color: var(--first);
    text-align: center;
}

.content-box2{
    width: 100%;
    height: 800px;
    background-image: url('images/content_background1.png');
    position: relative;
    background-size: cover;
}

.content-box2-text-wrapper{
    width: 40%;
    position: relative;
    float: right;
    height: 100%;
}

.content-box2-title{
    margin-top: 28%;
    font-size: 50px;
    font-weight:700;
    color: var(--second);
}

.content-box2-text{
    font-size: 25px;
    font-weight:400;
    color: var(--second);
}

.content-box2-discord{
    float: left;
    font-size: 20px;
    font-weight:200;
    color: var(--second);
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 45px;
    transition: background-color .2s;
}

.content-box2-discord:hover{
    background-color: var(--second);
}

.content-box2-discord a{
    color: var(--second);
}

.content-box3{
    width: 100%;
    background-color: var(--second);
    height: 800px;
    position: relative;
    margin-top: -42px;
}

.content-box2-discord a{
    color: var(--second);
}

.content-box2 iframe{
    margin-left: 10%;
    height: 80%;
    margin-top: 80px;

}

.faq-title{
    color: var(--third);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq-content-box{
    width: 50%;
    float: left;
    background-color: var(--second);
    height: 900px;
    position: static;
    margin-top: -42px;
}

.faq{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: var(--first);
    border-bottom: 2px solid var(--first);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 10px;
}

.question h3{
    font-size: 21px;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
.answer p{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.6rem;
    font-weight: 300;
}

.faq.active .answer{
    max-height: 300px;
}

.faq-background{
    background-image: url('images/dragon_background.png');
    background-size: cover;
    position: static;
    width: 50%;
    float: left;
    height: 900px;
    margin-top: -42px;
}

.download-content-box{
    width: calc(100% / 3);
    height: 800px;
    background-color: var(--second);
    text-align: center;
    float: left;
    transition: background-color .2s;
    position: relative;
    margin-top: -40px;
}

.download-content-box:hover{
    background-color: white;
}

.download-content-box a{
    border: 2px solid var(--third);
    color: var(--third);
    position: relative;
    margin: auto;
    top: 30%;
    background-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    transition: padding 0.3s;
}

.download-content-box a:hover{
    color: var(--first);
    border: 2px solid var(--first);
    padding-right: 35px;
    padding-left: 35px;
}

.download-content-box p{
    text-align: center;
    top: 40%;
    margin: auto;
    position: relative;
    color: var(--first);
    font-size: 20px;
    font-weight: 300;
    width: 50%;
}

.staff-background{
    width: 100%;
    background-color: var(--second);
    height: 1300px;
    position: relative;
    margin-top: -42px;
}

.staff-content-box{
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

#staff-content-box{
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.staff-profile{
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 55px 75px;
    margin: 55px 4.4%;
    opacity: 70%;
    float: left;
    transition: opacity 0.3s;
}

.staff-profile:hover{
    opacity: 100%;
}

.staff-profile h1{
    color: var(--third);
    text-align: center;
    font-size: 28px;
    font-weight: 200;
}

.staff-profile p{
    color: var(--first);
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.staff-profile img{
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 40px;
    border-radius: 50%;
}

.minecraft-content-left{
    width: 65%;
    height: 700px;
    background-color: var(--second);
    position: relative;
    float: left;
    margin: 0px;
    margin-top: -42px;
}

.minecraft-content-left h1{
    font-size: 90px;
    font-weight: 800;
    color: var(--first);
    margin-left: 20px;
    margin-right: 30%;
    margin-top: 170px;
    line-height: 6rem;
    max-height: 100%;
}

.minecraft-content-left p{
    font-weight: 300;
    font-size: 30px;
    color: var(--third);
    margin-left: 20px;
    margin-right: 30%;
}

.minecraft-content-right{
    width: 35%;
    height: 700px;
    background-color: white;
    position: relative;
    float: left;
    margin-top: -42px;
}

.minecraft-content-right a{
    color: var(--third);
    border: 2px solid var(--third);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 25px;
    float: left;
    margin-left: 20px;
    margin-top: 60px;
    cursor: pointer;
}

.minecraft-content-right-buttom-wrapper{
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.minecraft-content-right a:hover{
    color: var(--first);
    border: 2px solid var(--first);
}

.minecraft-content-right p{
    width: 60%;
    margin: 0px auto;
    margin-top: 100px;
    color: var(--first);
    font-size: 20px;
    line-height: 1.6rem;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--first);
}

.minecraft-content-bottom{
    width: 100%;
    height: 550px;
    background-image: url('images/mountain2_background.png');
    background-size: cover;
    float: left;
    position: relative;
}

.minecraft-content-bottom p{
    color: var(--second);
    font-weight: 800;
    font-size: 60px;
}

.container-slideshow{
    width: 100%;
    height: 76%;
    background: transparent;
    float: left;
}

.patreon-content-box{
    width: 100%;
    height: 450px;
    background-color: var(--second);
    float: left;
    margin-top: -42px;
}

.patreon-content-box-child{
    width: 50%;
    height: 100%;
    float: left;
}

.patreon-content-box h1{
    font-size: 80px;
    margin-top: 13%;
    margin-left: 5%;
}

.patreon-content-box p{
    font-size: 27px;
    font-weight: 200;
    color: var(--first);
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.patreon1{
    color: var(--first);
    font-weight: 200;
}

.patreon2{
    color: var(--third);
    font-weight: 700;
}

.patreon-image{
    background-size: cover;
    width: 100%;
    min-height: 700px;
    height: auto;
    float: left;
    background-image: url('images/mountain_background.png');
    position: relative;
}

.patreon-content-box a{
    border: 2px solid var(--third);
    color: var(--third);
    background-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    float: left;
    margin-left: 45%;
}

.patreon-content-box a:hover{
    color: var(--first);
    border: 2px solid var(--first);
}

#patrons{
    width: 100%;
    height: 100%;
    position: relative;
}

.patron-profile{
    background-color: var(--second);
    width: 150px;
    height: 180px;
    margin: 50px 50px;
    border-radius: 20%;
    float: left;
    transition: background-color 0.2s;
    opacity: 70%;
    transition: opacity 0.3s;
}

.patron-profile:hover{
    background-color: var(--second);
    opacity: 100%;
}

.patron-profile h1{
    font-size: 20px;
    text-align: center;
    color: var(--third);
    font-weight: 700;
}

.patron-profile p{
    font-size: 15px;
    text-align: center;
    color: var(--first);
    font-weight: 400;
}

.patron-profile img{
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-top: 15%;
}

.green-join-button{
    border: 2px solid var(--first);
    color: var(--first);
    background-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    float: left;
}


.dynmap-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.dynmap-background{
    background: rgb(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
}

.dynmap{
    position: relative;
    width: 60%;
    height: 80%;
    margin-top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: animatetop;
    animation-duration: 0.35s
}

.dynmap iframe{
    z-index: 4;
    position: relative;
}

.dynmap-close{
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 17%;
    margin-top: 2%;
}

.dynmap-close:hover,
.dynmap-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.link-box{
    width: 25%;
    height: 300px;
    background: white;
    margin: 40px 4.1%;
    float: left;
    position: relative;
    border-radius: 30px;
    opacity: 95%;
    transition: opacity 0.3s;
    transition: filter 0.3;
    background-size: cover;
}

.link-box-blur{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.3s;
}

.link-box-blur:hover{
    backdrop-filter: blur(0px);
}

.link-box:hover{
    opacity: 100%;
    filter: blur(0px);
}

.link-box a{
    border: 2px solid var(--second);
    color: var(--second);
    background-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    bottom: 10%;
    right: 10%;
    position: absolute;
    width: 130px;
    text-align: center;
    transition: background-color 0.3s;
    transition: width 0.3s;
}

.link-box a:hover{
    background-color: var(--second);
    width: 150px;
    color: var(--third);
}

.link-box p{
    color: var(--second);
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 10%;
    right: 10%;
}

.index-container{
    height: 900px;
    width: 100%;
    background: linear-gradient(350deg, rgb(192, 192, 192), var(--second) 80%);
    position: relative;
    margin-top: -42px;
}

.index-box-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.index-box1{
    width: 45%;
    height: 70%;
    position: absolute;
    color: var(--third);
    left: 100%;
    background: linear-gradient(350deg, var(--first), var(--third) 80%);
    background-color: var(--third);
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 8px 0.1px #3D3D3D;

    transition: all 0.3s ease-out;
}

.index-box2{
    width: 45%;
    height: 70%;
    position: absolute;
    color: var(--third);
    right: 100%;
    background: linear-gradient(350deg, var(--first), var(--third) 80%);
    background: linear-gradient(350deg, #f12711, #f5af19 80%);
    background: linear-gradient(350deg, #0f0c29, #302b63 80%);
    background-color: var(--second);
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 8px 0.1px #3D3D3D;

    transition: all 0.3s ease-out;
}

.index-box1-image{
    width: 45%;
    height: 50%;
    position: absolute;
    right: 100%;
    background-image: url('images/mountain2_background.png');
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 7px;
    box-shadow: 0px 0px 8px 0.1px #3D3D3D;

    transition: all 0.3s ease-out;
}

.index-box-container img{
    width: 45%;
    height: 50%;
    position: absolute;
    right: 100%;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 7px;
    box-shadow: 0px 0px 8px 0.1px #3D3D3D;

    transition: all 0.3s ease-out;
}

.index-box2-image{
    width: 45%;
    height: 50%;
    position: absolute;
    left: 100%;
    background-image: url('images/dynmap.png');
    background-size: cover;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 7px;
    box-shadow: 0px 0px 8px 0.1px #3D3D3D;

    transition: all 0.3s ease-out;
}

.index-box1 h1{
    color: var(--second);
    font-size: 50px;
    font-weight: 700;
    padding: 5% 14%;
}

.index-box2 h1{
    color: var(--second);
    font-size: 50px;
    font-weight: 700;
    padding: 5% 14%;
}

.index-box1 p{
    color: var(--second);
    font-size: 25px;
    font-weight: 300;
    padding: 5% 14%;
}

.index-box2 p{
    color: var(--second);
    font-size: 25px;
    font-weight: 300;
    padding: 5% 14%;
}

.index-box1-button{
    border: 2px solid var(--second);
    color: var(--second);
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    width: 150px;
    left: 14%;
    bottom: 10%;

    background-color: var(--second);
    color: var(--first);
    border-radius: 6px;

    transition: width 0.2s;
}

.index-box1-button:hover{
    width: 170px;
}

.index-between{
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('images/mountain_wide.png');
}

.index-between-color{
    background-color: rgb(18,40,61, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
}

.index-between-box1{
    position: absolute;
    height: 30%;
    width: 0%;
    left: 0%;
    top: 35%;
    transform: translate(0, -50%);
    background-color: var(--third);
    transition: all 0.3s ease-in;
}

.index-discord-right{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 10%;
    color: rgb(18,40,61,0);
    transition: all 0.3s ease-in;
}

.index-discord-right-section{
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

.index-discord-right-section h1{
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    margin-top: 35%;
    color: inherit;
    width: 100%;
}

.index-discord-right-section p{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: inherit;
    padding: 0 25%;
}

.index-discord-left{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 10%;
    color: rgb(18,40,61,0);
    transition: all 0.3s ease-in;
}

.index-discord-left p{
    color: inherit;
    font-size: 50px;
    font-weight: 700;
    margin-top: 17%;
}

.index-discord-button{
    border: 2px solid inherit;
    color: inherit;
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    width: 150px;
    left: 0%;
    bottom: 20%;
    background-color: var(--second);
    color: var(--first);
    border-radius: 6px;
    transition: width 0.2s;
}

.index-discord-button:hover{
    width: 170px;
}

.down-arrow{
    position: absolute;
    left: 50%;
    top: 91%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color: var(--first);
    font-size: 80px;
    opacity: 1;
    transition: opacity 0.3s;
    transition: top 1s;
    cursor: pointer;
}

@keyframes animatetop {
    from {top: -300px; opacity: 1;}
    to {top: 0; opacity: 1;}
  }

  @keyframes playModal {
    from {width: 40%; height: 40%; opacity: 0.0;} 
    to {width: 50%; height: 50%; opacity: 1;}
  }


