body {
  background-image: url('images/header_background.png');
  background-size: 100%;
  background-position: static;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.header-wrapper{
    width: 100%;
    position: fixed;
    top: 300px;
    z-index: -1;
}

.header-content-left{
    float: left;
    padding-left: 34%;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 98px;
    font-weight:900;
    color: rgb(239,240,244);
}

.vertical-line{
    width: 3px;
    background-color: rgb(239,240,244);
    float: right;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

.header-content-center{
    float: left;
    margin-top: 24px;
    padding-left: 20px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 35px;
    font-weight:700;
    color: rgb(239,240,244);
}

.header-content-center-secondtext{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 25px;
    font-weight:400;
    color: rgb(239,240,244);
}

.header-content-right{
    float: left;
    margin-left: 20px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 27px;
    font-weight:400;
    color: rgb(239,240,244);
    margin-top: 20px;
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 45px;
}

.header-content-right:hover{
    color:black;
}

.menu{
    width: 100%;
    background-color: rgb(255,174,134);
    height: 65px;
    position: static;
    margin-top: 700px;
    z-index: 1;
}

.menu a{
    float: left;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 32px;
    font-weight:400;
    color: rgb(239,240,244);
    text-align: center;
    width: 20%;
    height: 100%;
    padding-top: 11px;

}
.menu a:hover{
    color:black;
    background-color:  rgb(239,240,244);
    
}

.content-box1{
    width: 100%;
    background-color: rgb(239,240,244);
    height: 900px;
    position: static;
    z-index: 1;
}

.content-box2{
    width: 100%;
    height: 900px;
    background-image: url('images/content_background1.png');
    position: static;
    background-size: 100%;
}

.content-box2-title{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 50px;
    font-weight:700;
    color: rgb(239,240,244);
    margin-left: 65%;
    padding-right: 200px;
    padding-top: 200px;
}

.content-box2-text{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 25px;
    font-weight:400;
    color: rgb(239,240,244);
    margin-left: 65%;
    padding-right: 200px;
    padding-top: 50px;
}

.content-box2-discord{
    float: left;
    margin-left: 65%;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-size: 27px;
    font-weight:400;
    color: rgb(239,240,244);
    margin-top: 20px;
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 45px;
}

.content-box2-discord:hover{
    color:black;
}


