body {
  background-image: url('images/header_background.png');
  background-size: 100%;
  background-position: static;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 

}

.header-top{
    width: 100%;
    height: 5px;
    background-color: rgb(13,126,132);
}

.header-wrapper{
    width: 100%;
    position: fixed;
    top: 300px;
    z-index: -1;
}

.header-content-left{
    float: left;
    padding-left: 34%;
    font-size: 98px;
    font-weight:900;
    color: rgb(239,240,244);
}

.vertical-line{
    width: 3px;
    background-color: rgb(239,240,244);
    float: right;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

.header-content-center{
    float: left;
    margin-top: 24px;
    padding-left: 20px;
    font-size: 35px;
    font-weight:700;
    color: rgb(239,240,244);
}

.header-content-center-secondtext{
    font-size: 25px;
    font-weight:400;
    color: rgb(239,240,244);
}

.header-content-right{
    float: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight:200;
    color: rgb(239,240,244);
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 45px;
    transition: background-color .2s;
}

.header-content-right:hover{
    background-color: rgb(239,240,244);
}

a:link{
    text-decoration: none;
}

.menu{
    width: 100%;
    background-color: rgb(255,174,134);
    height: 65px;
    position: static;
    z-index: 1;
    margin-top: 700px;
}

.menu a{
    float: left;
    font-size: 27px;
    font-weight:200;
    color: rgb(239,240,244);
    text-align: center;
    width: 16.6%;
    height: 100%;
    line-height: 65px;
    transition: background-color .2s;
}

.menu a:hover{
    color:rgb(18,40,61);;
    background-color:  rgb(239,240,244);
}

.content-box1{
    width: 100%;
    background-color: rgb(239,240,244);
    height: 900px;
    position: static;
    z-index: 1;
}

.content-box1-child{
    float: left;
    width: 50%;
    padding-top: 100px;
}

.content-box1-title{
    font-size: 50px;
    font-weight:700;
    color: rgb(18,40,61);
    text-align: center;
}

.content-box1-text{
    font-size: 25px;
    font-weight:400;
    color: rgb(18,40,61);
    text-align: center;
}

.content-box2{
    width: 100%;
    height: 900px;
    background-image: url('images/content_background1.png');
    position: static;
    background-size: 100%;
}

.content-box2-title{
    font-size: 50px;
    font-weight:700;
    color: rgb(239,240,244);
    margin-left: 65%;
    padding-top: 200px;
}

.content-box2-text{
    font-size: 25px;
    font-weight:400;
    color: rgb(239,240,244);
    margin-left: 65%;
    padding-right: 200px;
    padding-top: 50px;
}

.content-box2-discord{
    float: left;
    margin-left: 65%;
    font-size: 20px;
    font-weight:200;
    color: rgb(239,240,244);
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 45px;
    transition: background-color .2s;
}

.content-box2-discord:hover{
    background-color: rgb(239,240,244);
}

.content-box3{
    width: 100%;
    background-color: rgb(239,240,244);
    height: 900px;
    position: static;
    z-index: 1;
}

.header-content-right a{
    color: rgb(239,240,244);
}

.content-box2-discord a{
    color: rgb(239,240,244);
}

.faq-title{
    color: rgb(13,126,132);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq-content-box{
    width: 50%;
    float: left;
    background-color: rgb(239,240,244);
    height: 900px;
    position: static;
}

.faq{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(18,40,61);
    border-bottom: 2px solid rgb(18,40,61);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 21px;
}

.answer{
    max-height: 0;
    overflow: hidden;
}
.answer p{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.6rem;
}

.faq.active .answer{
    max-height: 300px;
}

.faq-background{
    background-image: url('images/content_background1.png');
    position: static;
    width: 50%;
    float: left;
    height: 900px;
}
